* {
    /* outline: 1px solid red; */
}

.create-post {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.create-post__container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-form {
    padding: 30px;
    border: 1px solid #888888;
    border-radius: 20px;
    box-shadow: -30px 30px 1px #252525;
    transition: box-shadow 0.2s, transform 0.2s;
}

.forum-sidebar-container-create {
    margin-top: 7%;
}
