* {
    /* outline: 1px solid red; */
}

.view-all-post__comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.view-all-post__comments__write {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 5px 0px 20px;
}

.view-all-post__comments__view {
    padding: 0px 5px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-all-post__comments__view__comment {
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.view-all-post__comments__view__comment img {
    width: 30px;
}

.view-all-post__comments__view__comment small {
    padding-left: 20px;
}
