* {
    /* outline: 1px solid red; */
}

.forum-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.forum-page__left {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 0px;
    gap: 20px;
}

.forum-page__right {
    border: 1px solid black;
    flex-basis: 75%;
    height: 90%;
    overflow-y: auto;
    box-shadow: 3px 3px 10px #888888;
}
