.forum-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
    gap: 3%;
}

.forum-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
