.LoginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/loginBg2.jpg");
    background-size: cover;
}

.login-container-inner {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border-radius: 20px;
    box-shadow: 30px 30px 50px #444444;
    background-color: rgb(204, 168, 245);
}

.login-container--left {
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    padding: 0 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../../Assets/loginImage.jpg");
    background-size: cover;
}

.login-container--right {
    height: 100%;
    padding: 0 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0px 20px 20px 0px;
    background-color: white;
}
