.forum-card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 5px; */

    overflow: hidden;
    border: 1px solid #888888;
    border-radius: 5px;
    box-shadow: -10px 10px 1px #888888;
    transition: box-shadow 0.2s, transform 0.2s;
}

.forum-card:hover {
    transform: translate(10px, -10px);
    box-shadow: -20px 20px 1px #252525;
}

.forum-card:hover * {
    cursor: pointer;
}

.forum-card:hover .tutorial-page {
    background-color: red;
}

.forum-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forum-card__header {
    background-color: var(--bg-header);
    padding: 10px 20px;
}

.forum-card__body__title {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.forum-card__body__text {
    text-align: justify;
    padding: 10px 20px;
}

.forum-card__footer {
    padding: 20px 20px;
}

.forum-card__footer div {
    padding: 5px;
    border-top: 1px dashed black;
}

.forum-card__progress {
    padding: 19px 15px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
}

.forum-card__progress__last-chapter {
    color: white;
    border-radius: 3px;
    padding: 2px 10px;
    background-color: #252525;
}
