* {
    /* outline: 1px solid red; */
}
.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
        repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.9s infinite;
    -moz-animation: bg-scrolling-reverse 0.9s infinite;
    -o-animation: bg-scrolling-reverse 0.9s infinite;
    animation: bg-scrolling-reverse 0.9s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.landing-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

.landing-page-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-section-2 {
    padding: 0px 70px;
    background-color: wheat;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.landing-page-section-2 {
    background-color: wheat;
}

.landing-page-section-3 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: #779fa8;
}

.landing-page-section-4 {
    width: 100%;

    background-color: #fa7364;
}

.landing-page-section-1 label {
    font-size: 15rem;

    padding-bottom: 20px;
    font-family: "Rampart One", cursive;
}

.landing-page-section-1__span-1 {
    color: #463e44;
}

.landing-page-section-1__span-2 {
    color: #6c959e;
}

.landing-page-section-1__span-3 {
    color: #ff5e4d;
}

.landing-page-section-1__span-4 {
    /* color: #52cbd6; */
}

.LandingPageContent__Left {
    max-width: 45%;
}

.LandingPageContent__Left__label {
    color: #51a4ac;
    font-weight: bold;
}

.LandingPageContent__Left__heading {
    color: black;
    font-weight: bold;
    font-size: 5vw;
    line-height: 0.9;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    font-family: "Roboto Slab", serif;
}

.LandingPageContent__Left__paragraph {
    color: black;
    font-size: large;
    margin-bottom: 40px;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.LandingPageContent__Left__button {
    background-color: rgba(145, 204, 210, 0.5);
    color: #498c92;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 5px 10px #ec685a;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.LandingPageContent__Left__button:hover {
    box-shadow: -5px -10px #498c92;
    transform: translate(10px, 10px);
}

.LandingPageContent__Right {
    flex: 0 0 70%;
    max-width: 900px;
}

.LandingPageContent__Right img {
    width: 100%;
    height: auto;
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
