.home-page {
    height: 100%;

    overflow-y: auto;
}

.home-page-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-page-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
