.detailed-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid black;
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;

    width: 80%;
}

.detailed-badge-description {
    font-size: 0.9rem;
}

.detailed-badge-title {
    font-weight: bold;
}

.detailed-badge-icon {
    font-size: 3rem;
    width: 100%;
    height: 100%;
}
