* {
    /* outline: 1px solid red; */
}

.view-all-post {
    background-color: #e6e6e6;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-post__container {
    margin-top: 3%;
    background-color: white;
    height: 88%;
    width: 60%;
    border: 2px solid black;
}

.view-all-post__top {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e6e6e6;
}

.view-all-post__post-collection {
    height: 90%;
    overflow-y: auto;
}
