* {
    /* outline: 1px solid red; */
}

img {
    width: 100%;
}

.tutorial-template {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    line-height: 1.5;
    font-size: 1.1rem;
    text-align: justify;

    background-color: rgb(207, 235, 220);
}

.tutorial-template__top {
    height: calc(100% - 112px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-template__botton {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 10px 10px;
    border-top: 1px solid black;
    background-color: white;
}

.tutorial-template__content {
    width: 50%;
    height: 90%;
    padding: 5px 40px;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
}

.tutorial-template__output {
    width: 50%;
    height: 100%;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(44, 42, 42);
    /* background-color: rgb(44, 42, 42); */
}

.tutorial-template__content__list * {
    margin: 0 0 10px -10px;
}

.tutorial-template__botton button {
    cursor: pointer;
    height: 40px;
    width: 150px;
    border: 2px solid yellow;
    border-radius: 10px;

    color: white;
    background-color: rgb(51, 48, 48);
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.tutorial-template__botton button:hover {
    color: rgb(31, 29, 29) !important;
    border: 2px solid rgb(51, 48, 48) !important;
    background-color: yellow !important;
}

.tutorial__content__label {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    color: whitesmoke;
    background-color: #2c2a2a;
}

.tutorial-template__content__task {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

::placeholder {
    color: wheat !important;
}

.tutorial-template__content__task__code-box {
    color: wheat;
    background-color: #2c2a2a;
}

.tutorial-template__content__code {
    white-space: pre;
}

.tutorial-template__output__img {
    width: 100%;
}

.tutorial-template__output__browser {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: rgb(252, 247, 247);
    border: 2px solid #2c2a2a;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(211, 21, 21);
}

.tutorial-template__output__browser__top {
    background-color: #2c2a2a;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tutorial-template__output__browser__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-template__output__browser__title {
    display: flex;
    justify-content: space-between;
    border: 0px 2px 2px 0px;
    border-right: 2px solid #2c2a2a;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(80, 80, 80);
}

.titletext {
    display: inline-block;
    max-width: 150px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tutorial-template__output__browser__output__browser__item {
    padding: 10px 20px;
    border-left: 2px solid #2c2a2a;
}

.tutorial-template__output__browser__body {
    padding: 20px 20px;
}

.tutorial-template__content__code {
    outline: 1px solid red;
    background-color: aliceblue;
}
